{{ define "main" }}
<article class="gh-article">
    <header class="gh-article-header">
        <h1 class="gh-article-title">{{ .Title }}</h1>
        
        <div class="gh-article-meta">
            <span class="gh-article-author">{{ .Params.author | default .Site.Params.author }}</span>
            <time class="gh-article-date" datetime="{{ .Date.Format "2006-01-02" }}">
                {{ .Date.Day }} {{ index (slice "января" "февраля" "марта" "апреля" "мая" "июня" "июля" "августа" "сентября" "октября" "ноября" "декабря") (sub .Date.Month 1) }} {{ .Date.Year }}
            </time>
        </div>
    </header>

    {{ if .Params.image }}
    <figure class="gh-article-image">
        <img src="{{ .Params.image }}" alt="{{ .Title }}">
    </figure>
    {{ end }}

    <div class="gh-article-content">
        {{ .Content }}
    </div>
</article>
{{ end }}
